app = "mygeosync-app-bitter-sunset-5629"
primary_region = "lax"

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  
  [[http_service.checks]]
    interval = "10s"        # Changed from 10000 to "10s"
    grace_period = "10s"
    method = "get"
    path = "/health"
    timeout = "5s"          # Added explicit time unit